:root {

}


header {
    /* Sets header element to a block-level element and lays out its content (children) according to flexbox model */
    display: flex;
    /* Sets padding on all sides to 40px */
    padding: 40px;
    /* The items are evenly distributed within the alignment container along the main axis */
    /* The spacing between each pair of adjacent items is the same */
    justify-content: space-between;
    /* Centers inline contents within the line box */
    text-align: center;
    background: #13293d;
    color: #fcf9f9;
}

header nav {

}

/* Unlisted items set to block-level element with no list-style */
header nav ul {
display: flex;
list-style: none;
}

header nav ul li {
color: rgb(102, 185, 149);
}

header a {
color: rgb(102, 185, 149);
}

body {
background: #ddcedd;
}

h1 {
    padding: 15px;
    font-size: 200%;
    background: rgb(102, 185, 149);
    color: black;

}

h2 {

}

h3 {

}

p {

}

.recent-photo {

}

.graphic-artbox {

}

.central-content {

}

#about-me {
display: flex;
/* The flex items wrap onto multiple lines */
flex-wrap: wrap;
/* Sets about-me id to 100% width relative to parent / main */
width: 100%;
}

#about-me h2 {
/* Sets width of h2 to 10% relative to parent / #about-me section */
width: 10%;
text-align: center;
color: #4e539b;
font-size: 1.5em;
}

#about-me section {
/* Sets #about-me section to block-level element, flex items wrap onto multiple lines, and width 50% relative to parent #about-me h2 */
display: flex;
flex-wrap: wrap;
flex-direction: row;
width: 80%;
padding-left: 10%;
padding-bottom: 10%;
}

#about-me section p {
/* Sets width to 50% relative to parent #about-me section */
width: 50%;
padding: 10px;
border-width: 1px;
}

#about-me section figure {
/* Sets width to 15% relative to parent #about-me section */
width: 20%;
padding: 20px;
border-width: 1px;
}

#about-me img {
/* Sets width to 100% relative to parent #about-me section figure */
width: 100%;
}



#work {
display: flex;
flex-wrap: wrap;
width: 100%;
}

#work h2 {
width: 10%;
text-align: center;
color: #4e539b;
font-size: 1.5em;
}

#work section {
display: flex;
flex-direction: column;
width: 58%;
padding-left: 10%;
}

#work h2 section figure {
width: 15%;
}

#work img {
width: 100%;
border-style: solid;
border-color: rgb(102, 185, 149);
}

footer {
display: flex;
padding: 60px;
justify-content: space-between;
text-align: center;
}

footer h4 {
width: 10%;
text-align: center;
color: #4e539b;
font-size: 1.5em;
}

footer nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 63%;
    
}

footer nav ul {
    display: flex;
    list-style: none;
}

footer li {
color: #4e539b;
}

footer a {
color: #4e539b;
}