:root {

}

header {
    display: flex;
    padding: 60px;
    justify-content: space-between;
    text-align: center;
    background: #13293d;
    color: #fff;
}

body {

}

h1 {

}

h2 {

}

h3 {

}

nav {

}

nav ul {
display: flex;

list-style: none;
}

p {

}

.recent-photo {

}

.graphic-artbox {

}

.central-content {

}

#about-me{

}

#work {

}

footer {
    display: flex;
    padding: 60px;
    justify-content: space-between;
    text-align: center;
    background: #13293d;
    color: #fff;
}